# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~

#IDE's
.vscode

#Some test files for code coverage
*.gcda
*.gcno
liblogger-1.0.0-coverage.info
liblogger-1.0.0-coverage/

aclocal.m4
autom4te.cache
config
configure
m4
Makefile
Makefile.in
config.log
config.status
libtool
.deps
.libs
debian/liblogger1-dev/
debian/liblogger1/
debian/tmp/
liblogger.pc
*.log
*.trs
tests/callback
tests/function
tests/file
tests/filehourly
tests/filedaily
tests/pipe
tests/stderr
tests/stdout
tests/stdoutcolor
tests/syslog
tests/tail
tests/remove
tests/testfilter
tests/tcpserver
tests/unixserver
tests/logmq
tests/streamlogger
tests/benchmark
tests/proxylogger
logmq/logmq
