# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*~
aclocal.m4
autom4te.cache
config
configure
m4
Makefile
Makefile.in
config.log
config.status
libtool
.deps
.libs
debian/liblogger1-dev/
debian/liblogger1/
debian/tmp/


