Source: liblogger
Priority: optional
Maintainer: James Stevenson <james@stev.org>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/mistralol/liblogger
#Vcs-Git: git://anonscm.debian.org/collab-maint/liblogger.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/liblogger.git;a=summary

Package: liblogger1-dev
Section: libdevel
Architecture: any
Depends: liblogger1 (= ${binary:Version}), ${misc:Depends}
Description: C++ logging library
 Another C++ logging library which support multiple destinations such as
 stdout, stderr, pipe, syslog, file and callbacks.
 with easy to intergrate log rotation.

Package: liblogger1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ logging library 
 Another C++ logging library which support multiple destinations such as
 stdout, stderr, pipe, syslog, file and callbacks.
 with easy to intergrate log rotation.

